.env
.vscode
/vendor
.idea/
data/rabbitmq/
composer.lock
storage
/schedule/var
/queue/var
docker/.DS_Store
queue/.DS_Store
schedule/.DS_Store
/db_store/hris
public/vendor
public/files/leave
public/official-doc
public/redis
# public/img
public/drive
public/import
public/export
public/appstore
public/files/payslip
public/files/travel
/composer.lock
resources/data
.php-cs-fixer.cache
